@import url("https://lucas.koyu.space/styles.css");
.e{
  margin:1px 10px;
  padding:10px;
  background:repeat-y center fixed url("bkg.png");
  background-size:cover;
  color:white;
}
.e a{
  color:white;
}
/*.text{
  float:left;
}*/
.date{
  float:right;
}
.pp{
  background:url("https://avatars.githubusercontent.com/u/83518257");
  border-radius:100%;
  width:20px;
  height:20px;
}