@import url("https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css");

/* Body */
body{
  font-family:sans-serif;
  margin:0;
  background:#2d2d2d;
}
a{
  text-decoration:none;
  color:rgb(59, 150, 180);
  /*color:#7abcff;*/
}
code{
  background:rgb(184, 184, 184);
  border-radius:3px;
  padding:3px;
  color:black;
}
#follow_inst{margin:0 10px;}

/* Header */
header{
  /*width:100%;*/
  padding:10px;
  background:repeat-y center fixed url("https://lucas.koyu.space/imgs/carpincho.jpg");
  background-size:cover;
  color:white;
}
header img{
  width:40px;
  height:40px;
  border-radius:15px;
  background:white;
}

/* Sub-header */
#subh{
  padding:1px 20px;
  background:#e0e0e0;
}
#subh p{
  color:rgb(83, 83, 83);
  text-align:left;
}
#subh p span{margin:0 8px 0 0;}
#follow{
  float:right;
  background:rgb(59, 150, 180);
  color:white;
  border:1px solid rgb(79, 151, 175);
  border-radius:2px;
  font-size:100%;
}
#follow:hover{
  transition: 2s;
  background:rgb(49, 127, 153);
}

/* Entries */
.e{
  margin:5px 10px 0;
  padding:10px;
  background:black;
  background-size:cover;
  color:white;
  border-radius:10px;
}
.e a{color:white;}
.e a.l{color:#7abcff;}
.e.show h2{font-weight:normal;}
.e.show .date{
  font-size:70%;
  font-weight:normal;
}
.pp{
  background:white;
  border-radius:100%;
  width:20px;
  height:20px;
}
.e img.cimg{
  border-radius:10px;
  border:solid 3px rgb(51, 51, 51);
  margin:3px 0 0 0;
  background:black;
  width:99.5%;
  height:300px;
  object-fit:none;
  cursor:zoom-in;
}
.go{
  color:white;
  height:100%;
  text-align:end;
  float:right;
  font-size:110%;
  align-self:center;
}
.utterances,.timeline{margin:0;padding:0;width:100%;}

/* Footer */
footer{
  margin:10px 0 0 0;
  padding:10px;
  background:black;
  color:transparent;
  cursor:default;
}
footer span{color:white;cursor:text;}
footer a{
  color:white;
  text-decoration:underline;
}

/* Response */
@media only screen and (min-width: 1000px) {
  body{padding:0 14%;}
}
